.root {
    -fx-background-color: #1f1b24;
    -secondary-color: #bb86fc;
    -game-item-button-width: 200;
    -game-item-button-height: 170;
    -primary-color: #1f1b24;
    -primary-lighter: #353139;
    -fx-font-size: 10;
    -fx-font-family: "DejaVu Sans Light";
}

.primary {
    -fx-background-color: -primary-color;
    -fx-text-fill: #ffffffff;
}

.secondary {
    -fx-background-color: -secondary-color;
    -fx-text-fill: #ffffffff;
}

JFXDialog {
    -fx-background-color: #29262b;
}

Label {
    -fx-text-fill: #ffffff;
    -fx-font-size: 20;
    -fx-padding: 10;
}

JFXTextField {
    -fx-text-fill: #ffffff;
    -jfx-focus-color: -secondary-color;
}

JFXButton {
    -fx-background-color: #29262b;
    -fx-min-width: 20;
    -fx-min-height: 20;
    -jfx-button-type: RAISED;
    -fx-text-fill: #ffffffff;
    -fx-padding: 12;
}

.value-label {
    -fx-max-width: 180;
}

.game-selection-view {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 100, 0.5, 0, 0);
    -fx-padding: 20;
    -fx-spacing: 20;
    -fx-alignment: TOP_CENTER;
    -fx-max-height: Infinity;
    -fx-pref-width: 400;
    -fx-background-color: -primary-color;
}

.game-selection-view JFXButton {
    -fx-max-width: 80;
    -fx-max-height: 40;
}

.game-selection-view .ikonli-font-icon {
    -fx-icon-code: "mdi2p-play";
    -fx-icon-size: 25;
}

.game-selection-thumbnail Image {
    -fx-border-radius: 100 100 100 100;
    -fx-background-radius: 20;
    -fx-max-width: 200;
    -fx-max-height: 200;
}

ScrollPane {
    -fx-fit-to-height: true;
    -fx-fit-to-width: true;
}

.scroll-pane {
    -fx-background-color: -primary-color;
}

.scroll-pane .corner {
    -fx-background-color: -primary-color;
}

.primary .ikonli-font-icon {
    -fx-icon-color: #ffffff;
    -fx-padding: 90;
}

.primary:hover .ikonli-font-icon {
    -fx-icon-color: -secondary-color;
}

.splashscreen {
    -fx-alignment: CENTER;
    -fx-spacing: 30;
    -fx-padding: 0 150 30 150;
    -fx-font-size: 20;
    -fx-max-width: 1000;
    -fx-max-height: 1000;
    -fx-icon-size: 30;
}

.game-selection {
    -fx-background-color: -primary-color;
    -fx-alignment: TOP_LEFT;
    -fx-hgap: 20;
    -fx-vgap: 20;
    -fx-max-width: Infinity;
    -fx-max-height: Infinity;
    -fx-padding: 30;
}

.game-selection JFXButton {
    -fx-background-repeat: no-repeat;
    -fx-padding: 0;
    -fx-background-position: center;
    -fx-border-radius: 5 5 5 5;
    -fx-background-radius: 10 10 10 10;
    -fx-pref-width: 200;
    -fx-pref-height: 170;
}

.game-item {
    -fx-alignment: center;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0, 0);
}

.game-item-label {
    -fx-text-fill: #ffffff;
    -fx-font-size: 15;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-padding: 10;
    -fx-font-family: "DejaVu Sans Light";
    -fx-font-style: italic;
    -fx-max-width: 200;
    -fx-max-height: 170;
}

.game-context-menu {
    -fx-background-color: -primary-color;
}

.game-context-menu-item .label {
    -fx-text-fill: #ffffff;
    -fx-font-size: 15;
}

.game-context-menu-item:focused {
    -fx-background-color: -primary-color;
}

.game-context-menu-item:hover {
    -fx-background-color: -secondary-color;
}

.game-item:hover .game-item-label {
    -fx-text-fill: -secondary-color;
}

.game-item-button {
    -fx-alignment: CENTER;
    -fx-background-size: 200 170;
    -fx-font-size: 20;
}

.game-item-button:hover {
    -fx-opacity: 0.9;
    -fx-border-color: -secondary-color;
    -fx-border-width: 2;
}

.game-selection .add-game .ikonli-font-icon {
    -fx-icon-code: "mdi2f-folder-plus-outline";
    -fx-icon-size: 50;
}

.game-selection-title {
    -fx-font-size: 3em;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bolder;
}

.splash_title {
    -fx-font-size: 2em;
    -fx-padding: 50 0 75 0;
    -fx-text-fill: #ffffff;
    -fx-font-family: "DejaVu Sans Light";
    -fx-font-weight: bold;
}

.title-heading {
    -fx-font-size: 3em;
    -fx-text-fill: #ffffff;
    -fx-font-family: "DejaVu Sans Light";
    -fx-background-color: -secondary-color;
    -fx-alignment: center-left;
    -fx-opacity: 0.8;
    -fx-max-width: Infinity;
    -fx-padding: 20 20 0 20;
}

JFXDialogLayout {
    -fx-background-color: -primary-color;
    -fx-max-height: Infinity;
    -fx-max-width: Infinity;
}

JFXDialog {
}

JFXDialogLayout Label {
    -fx-text-fill: white;
    -fx-font-size: 20;
}

.medium-font {
    -fx-font-size: 15;
}

.error .ikonli-font-icon {
    -fx-icon-code: "mdi2c-close-box-outline";
    -fx-icon-size: 30;
    -fx-icon-color: -secondary-color;
}

.load_library .ikonli-font-icon {
    -fx-icon-code: "mdi2f-folder";
}

.settings_button .ikonli-font-icon {
    -fx-icon-code: "mdi2w-wrench";
    -fx-icon-color: #ffffffff;
}

.splashscreen JFXButton {
    -fx-max-width: 300;
    -fx-content-display: LEFT;
    -fx-max-height: 125;
    -fx-pref-height: 100;
    -fx-font-size: 1.2em;
    /*-fx-alignment: BASELINE-LEFT;
    -fx-graphic-text-gap: 30; */
    -fx-font-family: "DejaVu Sans Light";
}

.ikonli-font-icon {
    -fx-text-alignment: LEFT;
    -fx-alignment: BASELINE-LEFT;
}

.buttons-pane {
    -fx-spacing: 10;
    -fx-alignment: center;
    -fx-fill-height: true;
}

.buttons-pane JFXButton {
    -fx-max-width: Infinity;
}

.drawer-menu {
    -fx-spacing: 10;
    -fx-background-color: #121212;
    -fx-fill-width: true;
    -fx-max-width: Infinity;
    -fx-alignment: TOP_CENTER;
}

.pause-menu {
    -fx-spacing: 10;
    -fx-padding: 50;
    -fx-background-color: #121212;
    -fx-alignment: TOP_CENTER;
    -fx-fill-width: true;
}

.pause-menu Label {
    -fx-text-fill: #ffffff;
    -fx-padding: 0 0 20 0;
}

.pause-menu > JFXButton {
    -fx-max-width: Infinity;
}

/* Turn to special primary*/
.pause-menu > .primary {
    -fx-border-color: -secondary-color;
    -fx-border-width: 2;
    -fx-border-radius: 5 5 5 5;
    -fx-background-radius: 5 5 5 5;
}

.special.primary {
    -fx-border-color: -secondary-color;
    -fx-border-width: 2;
    -fx-border-radius: 5 5 5 5;
    -fx-background-radius: 5 5 5 5;
}

.resume .ikonli-font-icon {
    -fx-icon-code: "mdi2p-play";
    -fx-icon-color: #ffffffff;
    -fx-icon-size: 20;
}

.secondary:hover .ikonli-font-icon {
    -fx-icon-color: #ffffffff;
}

.exit .ikonli-font-icon {
    -fx-icon-code: "mdi2e-exit-to-app";
}

.drawer-menu > .primary {
    -fx-border-color: -secondary-color;
    -fx-border-width: 2;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
}

/* JFXSlider */
.jfx-slider > .track {
    -fx-background-color: #ffffffff;
}

.jfx-slider > .animated-thumb {
    -fx-background-color: #ffffffff;
    -fx-text-fill: #000000;
}

.jfx-slider .slider-value {
    -fx-fill: black;
    -fx-stroke: black;
}

.jfx-slider > .colored-track {
    -fx-background-color: black;
}

.jfx-slider > .thumb {
    -fx-background-color: #8e8e8e;
}

.toast {
    -fx-background-color: #ffffff;
    -fx-padding: 10;
    -fx-border-radius: 10 10 0 0;
    -fx-background-radius: 10 10 0 0;
}

.nodeslist > .inactive {
    -fx-border-color: -secondary-color;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
}

.game-scene {
}

.pause-dialog {
    -fx-spacing: 10;
    -fx-padding: 50;
    -fx-background-color: -primary-color;
    -fx-alignment: TOP_CENTER;
    -fx-fill-width: true;
    -fx-pref-width: 350;
    -fx-pref-height: 450;
}

.pause-dialog VBox {
    -fx-background-color: -primary-color;
    -fx-alignment: TOP_CENTER;
    -fx-spacing: 20;
    -fx-fill-width: true;
    -fx-max-width: Infinity;
    -fx-max-height: Infinity;
}

.pause-dialog JFXButton {
    -fx-max-width: 300;
    -fx-font-size: 17;
    -fx-max-height: 400;
    -fx-pref-height: 120;
    -fx-border-width: 2;
    -fx-border-color: -primary-color;
}

.pause-dialog JFXButton:hover {
    -fx-border-color: -secondary-color;
}

.settings-module {
    -fx-max-height: Infinity;
    -fx-max-width: Infinity;
}

.settings-area {
    -fx-spacing: 20;
    -fx-padding: 20;
    -fx-max-width: Infinity;
    -fx-max-height: Infinity;
    -fx-hgap: 50;
    -fx-vgap: 20;
    -fx-alignment: CENTER;
    -fx-border-color: grey;
    -fx-background-color: -primary-color;
    -fx-border-radius: 10;
}

.settings-pair {
    -fx-border-color: -primary-color;
    -fx-spacing: 10;
    -fx-alignment: CENTER;
    -fx-border-width: 0 0 1 0;
    -fx-pref-width: 400;
    -fx-max-width: Infinity;
    -fx-max-height: 40;
}

.setting-pair:hover {
    -fx-border-color: -secondary-color;
    -fx-border-width: 0 0 1 0;
}

.combo-box-base {
    -fx-background-color: -primary-color;
    -fx-font-size: 1.5em;
}

.jfx-combo-box {
    -fx-background-color: -primary-color;
}

.jfx-combo-box .label {
    -fx-background-color: -primary-color;
}

.combo-box > .list-cell {
    -fx-background-color: -primary-color;
    -fx-background: black;
    -fx-text-fill: #ffffffff;
    -fx-fill: #ffffffff;
}

.combo-box > .text-field {
    -fx-background-color: -primary-color;
}

TabPane {
    -fx-max-height: Infinity;
    -fx-max-width: Infinity;
}

.settings-dialog {
    -fx-pref-width: 400;
    -fx-pref-height: 400;
}

.tab {
    -fx-background-color: -primary-color;
    -fx-text-fill: #ffffffff;
    -fx-font-size: 2em;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8), 100, 0.5, 0, 0);
    -fx-spacing: 50;
    -fx-pref-height: 35;
}

.tab-label {
    -fx-text-fill: green;
    -fx-font-size: 2em;
}

.tab-header-background {
    -fx-background-color: -primary-lighter;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: -secondary-color;
}

.tab-pane:focused > .tab-header-area > .tab:selected {
    -fx-background-color: -secondary-color;
}

.tab:selected {
    -fx-background-color: -secondary-color
}

.object-view {
	-fx-alignment: BOTTOM-LEFT;
}

